@import url(reset.css);
/* Ten Thousand */
/* Variables */
/* Base Styles */
body, html {
  width: 100%;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  background: #f0f1f5; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: auto;
  font-family: "ars-maquette-web", "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: black;
  background: white; }
  body.template-index {
    height: 100%; }

::selection {
  background: black;
  color: white; }

::-moz-selection {
  background: black;
  color: white; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

a, h1, h2, h3, h4, h5, span {
  transition: color 0.35s ease-in, opacity 0.35s ease-in, background-color 0.35s ease-in;
  -webkit-transition: color 0.35s ease-in, opacity 0.35s ease-in, background-color 0.35s ease-in;
  -moz-transition: color 0.35s ease-in, opacity 0.35s ease-in, background-color 0.35s ease-in;
  -o-transition: color 0.35s ease-in, opacity 0.35s ease-in, background-color 0.35s ease-in; }
  a:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, span:hover {
    transition: color 0.15s ease-in, opacity 0.15s ease-in, background-color 0.15s ease-in;
    -webkit-transition: color 0.15s ease-in, opacity 0.15s ease-in, background-color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in, opacity 0.15s ease-in, background-color 0.15s ease-in;
    -o-transition: color 0.15s ease-in, opacity 0.15s ease-in, background-color 0.15s ease-in; }

a.current {
  color: black; }

.style-switcher {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background: black;
  color: white;
  font-size: 0.825em;
  text-transform: uppercase;
  line-height: 1.5em; }
  .style-switcher input {
    margin: 0 1em 0 0; }

div.clear {
  clear: left;
  height: 0; }

div.clearright {
  clear: both;
  height: 0; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  color: black; }

.purple {
  color: #784485; }

.white {
  color: white; }

.clearfix {
  display: block; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* Type Styles */
h1.white, h2.white, h3.white, h4.white, h5.white, p.white {
  color: white; }
h1.gray, h2.gray, h3.gray, h4.gray, h5.gray, p.gray {
  color: #99999c; }
h1.notrack, h2.notrack, h3.notrack, h4.notrack, h5.notrack, p.notrack {
  letter-spacing: normal; }
h1.inlineblock, h2.inlineblock, h3.inlineblock, h4.inlineblock, h5.inlineblock, p.inlineblock {
  display: inline-block; }

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h2 {
  font-size: 1.15em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase; }

h3 {
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

h4 {
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase; }

p {
  color: #acadb0;
  line-height: 1.5em; }

a.logo {
  display: block;
  width: 18em;
  height: 2.25em;
  background: url(../img/tenthoulogo_lg.png) no-repeat center center;
  background-size: 100%;
  text-indent: -9999px;
  float: left;
  cursor: pointer; }
  a.logo:hover {
    opacity: 0.5; }

a.btn {
  display: table;
  color: white;
  background-color: #784485;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.9em 2em 1em;
  border-radius: 10em;
  margin: 0 auto;
  cursor: pointer; }
  a.btn:hover {
    background: black; }

article {
  width: 66em;
  margin: 0 auto;
  padding: 4em 3em; }

section, header, footer {
  width: 100%; }

a.to-top {
  position: fixed;
  padding: 16px 18px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  right: -128px;
  top: 2em;
  background: #19191b;
  width: 128px;
  z-index: 100;
  opacity: 1;
  color: #acadb0;
  transition: right 0.15s ease-out;
  -webkit-transition: right 0.15s ease-out; }
  a.to-top:hover {
    background: #4b4b4b;
    color: white; }
  a.to-top.slideright {
    right: 0; }

.index-header {
  position: relative;
  z-index: 2;
  -webkit-background: linear-gradient(rgba(255, 255, 255, 0.95) 0px, rgba(255, 255, 255, 0.85) 85px);
  -moz-background: linear-gradient(rgba(255, 255, 255, 0.95) 0px, rgba(255, 255, 255, 0.85) 85px);
  -o-background: linear-gradient(rgba(255, 255, 255, 0.95) 0px, rgba(255, 255, 255, 0.85) 85px);
  background: linear-gradient(rgba(255, 255, 255, 0.95) 0px, rgba(255, 255, 255, 0.85) 85px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }

header article {
  padding: 2em 3em; }

header nav {
  font-size: 0.875em;
  margin: 0.8em 0 0 0;
  float: right; }

header nav a {
  display: inline-block;
  margin: 0 3em 0 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #99999c;
  letter-spacing: 0.1em;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.25); }
  header nav a:hover {
    color: black; }
  header nav a.current {
    color: black; }

span.cart a {
  margin: 0; }
  span.cart a.cartclicked {
    color: black; }
span.cart figure {
  display: inline-block;
  background-color: #784485;
  height: 2em;
  width: 2em;
  font-size: 90%;
  line-height: 2em;
  text-align: center;
  border-radius: 2em;
  margin: 0 0 0 0.5em;
  color: white;
  font-weight: 700;
  position: relative;
  z-index: 1;
  top: -1px; }
  span.cart figure a {
    color: white; }

div.closebtn {
  text-indent: -9999px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: black url(../img/closebtn_w.svg) no-repeat center center;
  width: 2em;
  border-radius: 1em;
  height: 2em;
  background-size: 75%;
  cursor: pointer;
  transition: background-color 0.5s ease-in; }
  div.closebtn:hover {
    background-color: #414141;
    transition: background-color 0.1s ease-out; }

footer {
  padding: 1em 3em 5em;
  text-transform: uppercase;
  background: white url(../img/xlogo.png) no-repeat center 8.35em;
  background-size: 20px 20px; }

footer article {
  padding: 1.5em 0em 4em;
  width: 60em;
  border-top: 1px solid #e5e5e5; }

footer nav {
  text-align: center; }

footer nav a {
  font-size: 0.875em;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #acadb0;
  line-height: 1.85em;
  white-space: nowrap; }
  footer nav a:hover {
    color: black; }

footer ul li {
  display: inline-block;
  margin: 0 2.5rem 0 0; }

footer nav ul li:last-child {
  margin: 0; }

footer h5 {
  margin: 2em 0 0 0;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #acadb0;
  text-align: center; }

/* Browser Resets */
.flex-container a:active, .slideshow a:active, .flex-container a:focus, .slideshow a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.slideshow {
  margin: 0;
  padding: 0; }

.slideshow .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  /* Hide the slides before the JS is loaded. Avoids image jumping */ }

.slideshow .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

section.hero {
  position: relative;
  margin: -100px 0 0 0;
  height: 85%; }

div.slideshow {
  width: 100%;
  height: 100%;
  position: relative; }

.slides li.one {
  background: url(../img/hero.jpg) center 25%; }
.slides li.two {
  background: url(../img/bridgerun.jpg) center 80%; }
.slides li.three {
  background: url(../img/mission2.jpg) center center; }

section.hero ul.slides {
  width: 100%;
  height: 100%; }
  section.hero ul.slides li {
    width: 100%;
    height: 100%;
    background-size: cover !important; }

div.outer {
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0 0 0; }

section.hero div.outer h1 {
  display: table-cell;
  font-size: 575%;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 500;
  vertical-align: middle; }

ul.flex-direction-nav {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 2.5%; }

.flex-direction-nav li {
  width: 60px;
  height: 60px; }

.flex-direction-nav a {
  font-size: 48px;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  line-height: 60px;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  text-shadow: 0 0 1px black; }
  .flex-direction-nav a:hover {
    opacity: 1; }

.flex-direction-nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.flex-direction-nav li:first-child {
  float: left; }

.flex-direction-nav li:last-child {
  float: right; }

.pager {
  width: 100%;
  text-align: center;
  display: block; }

.pager ol {
  position: absolute;
  bottom: 24px;
  z-index: 2;
  width: 100%; }

.pager ol li {
  display: inline-block;
  margin: 0 10px 0 0; }

.pager ol li:last-child {
  margin: 0; }

.pager ol li a {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  text-indent: -999999px;
  cursor: pointer;
  transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in; }

.pager ol li ra:hover {
  background-color: white; }

.pager a.flex-active {
  background-color: white; }

aside.third {
  width: 33%;
  float: left; }

section.homepage {
  background: white; }
  section.homepage article {
    padding: 4em 3em; }

section.homepage aside.third {
  height: 21em;
  padding: 3em 3em;
  border-right: 1px solid #e5e5e5; }
  section.homepage aside.third:nth-child(3) {
    border-right: none; }
  section.homepage aside.third h2 {
    text-align: center;
    margin: 1em 0 0em 0; }
  section.homepage aside.third h3 {
    text-align: center;
    margin: 0 0 2.25em 0;
    color: #acadb0; }
  section.homepage aside.third p {
    font-size: 0.875em;
    text-align: center;
    line-height: 1.5em;
    margin: 1.75em 0 3em 0;
    font-family: "ff-meta-serif-web-pro", "Times New Roman", Times, serif; }

section.products article {
  border-top: 1px solid #e5e5e5; }

section.products a.product {
  float: left;
  width: 28em;
  height: 28em;
  margin: 0 4em 2em 0;
  position: relative; }
  section.products a.product:nth-child(2n) {
    margin: 0 0 2em 0; }

.product-index-desc {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  padding: 10em 2em 2em;
  text-align: center; }
  .product-index-desc h3 {
    line-height: 1.5em; }
  .product-index-desc h4 {
    color: black;
    letter-spacing: 0.1em;
    margin: 1em 0 0 0;
    color: #6e7174; }

section.mainproduct {
  background: #fafbfd;
  border-bottom: 1px solid #e5e5e5; }

.zoombtn {
  text-indent: -9999px;
  position: absolute;
  top: 1em;
  right: 0;
  width: 1.25em;
  height: 1.25em;
  border-radius: 2em;
  border: 2px solid black;
  opacity: 0.25;
  background: transparent url(../img/zoombtn_k.svg) center center no-repeat;
  background-size: 75% 75%;
  z-index: 2;
  cursor: pointer; }
  .zoombtn:hover {
    opacity: 1; }

aside.product-imgs {
  width: 50%;
  margin: 0 12% 0 0;
  float: left;
  position: relative; }

ol.slider-nav {
  display: table;
  margin: 0 auto; }
  ol.slider-nav li {
    display: block;
    cursor: pointer;
    width: 7em;
    width: 7em;
    float: left;
    padding: 1em;
    border: 1px solid #e5e5e5;
    margin: 0 0.5em 0 0; }
    ol.slider-nav li:hover {
      border: 1px solid #acadb0; }
    ol.slider-nav li img {
      margin: 0 auto; }

h1.title {
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 0.6em 0; }

section.product-actionshots {
  height: 40em;
  background: url(../img/actionshot.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding: 17em 0 0 0; }

.action-desc {
  margin: 0 auto;
  background: white;
  text-align: center;
  display: table;
  padding: 1em 2em; }

section.mainproduct p {
  margin: 2em 0;
  line-height: 1.6em;
  font-size: 0.875em; }

figure.colorsize {
  width: 100%;
  padding: 0; }

select {
  -webkit-appearance: none;
  width: 100%;
  display: block;
  border-radius: 0;
  background: #e5e5e5 url(../img/arrow.png) 93% center no-repeat;
  background-size: 12px 12px;
  padding: 1em;
  font-family: "ars-maquette-web", 'Helvetica Neue', Arial, Helvetica sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875em;
  color: black;
  border: 0; }

section.mainproduct select {
  margin: 0 0 0.625em 0; }

a.submitbutton {
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: white;
  background: black;
  border: 0;
  padding: 2em;
  font-family: "ars-maquette-web", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer; }
  a.submitbutton:hover {
    background: #784485; }
  a.submitbutton.centered {
    width: 13rem;
    margin: 1.25em auto 2rem; }
  a.submitbutton.apply {
    width: 6rem;
    padding: 1em; }
  a.submitbutton.completepurchase {
    width: 20rem;
    margin: 4rem auto 3rem; }

section.productspotlights aside.third {
  padding: 0 3em; }
  section.productspotlights aside.third p {
    margin: 1em 0;
    font-size: 0.875em;
    line-height: 1.5em; }

.productdesc p, .productspotlights p, .productfeature p {
  font-family: "ff-meta-serif-web-pro", "Times New Roman", Times, serif; }

h2.product-subhead {
  text-align: center;
  color: #acadb0;
  font-weight: 300;
  margin: 0 0 1.75em 0;
  font-size: 125%; }

.details-list {
  display: table;
  margin: 3em auto 0 auto;
  color: #acadb0;
  padding: 2em 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }
  .details-list li {
    display: list-item;
    padding: 1em 1em;
    font-size: 0.875em;
    font-family: "ff-meta-serif-web-pro", "Times New Roman", Times, serif;
    background: #fafbfd;
    width: 25em;
    float: left;
    margin: 0.5em 0 0;
    position: relative;
    list-style-type: disc !important; }

.details-list li:nth-child(odd) {
  clear: both;
  margin: 0.5em 3em 0 0; }

a.purchase {
  margin: 4em auto 0 !important;
  width: 33%;
  background: #19191b; }

figure.spotlight-img {
  width: 14em;
  height: 14em;
  margin: 0 auto 2em;
  border-radius: 7em;
  overflow: hidden; }
  figure.spotlight-img img {
    max-width: 150%;
    margin-left: -100px; }

section.productfeature article {
  padding: 5em 3em; }
section.productfeature img {
  width: 100%;
  height: auto; }
section.productfeature.black {
  background-color: black; }
section.productfeature.dark {
  background-color: #19191b; }
section.productfeature.gray {
  background-color: #fafbfd; }
  section.productfeature.gray p {
    color: #99999c; }

section.productfeature article {
  display: table; }

section.productfeature aside.third {
  text-align: center; }
  section.productfeature aside.third.left {
    margin: 6em 11em 0 4em; }
  section.productfeature aside.third.right {
    margin: 6em 4em 0 11em; }

h1.product-feature-headline {
  margin: 0 0 1em 0;
  font-size: 125%;
  font-weight: 300; }

figure.feature-img {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  overflow: hidden;
  background: black;
  float: left; }
  figure.feature-img img {
    max-width: 200%; }

section.productexplore aside.third {
  width: 18em;
  margin: 0 3em 0 0; }
  section.productexplore aside.third:nth-child(4) {
    margin: 0; }

section.productexplore a {
  display: table;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.875em;
  color: #99999c; }
  section.productexplore a img {
    margin: 0 0 1em 0; }
  section.productexplore a:hover {
    color: black; }

section.checkout-page {
  background: #fafbfd; }

div.checkout-opts {
  margin: 5em 0 1em; }

section.checkout-page h3 {
  margin: 4em 0 2em;
  padding: 0 0 1em 0;
  font-weight: 700;
  border-bottom: 1px solid black;
  text-align: center; }

aside.login {
  padding: 0 5em;
  border-right: 1px solid #e5e5e5; }

aside.guest {
  padding: 0 5em; }

aside.login, aside.guest {
  display: block;
  margin: 3em 0 4em;
  width: 50%;
  float: left; }
  aside.login h1, aside.guest h1 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.15em;
    margin: 0 0 1em 0; }
  aside.login a.submitbutton, aside.guest a.submitbutton {
    margin: 1.6em 0 0; }

aside.login h4 {
  margin: 1em 0 0 0;
  color: #99999c; }
  aside.login h4 a {
    color: #99999c; }
    aside.login h4 a:hover {
      color: black; }

input.textbox {
  -webkit-appearance: none;
  width: 100%;
  display: block;
  border-radius: 0;
  background: #e5e5e5;
  padding: 1em;
  font-family: "ars-maquette-web";
  font-weight: 500;
  margin: 0 0 0.625em 0;
  font-size: 0.875em;
  color: black;
  border: 0; }

::-webkit-input-placeholder {
  text-transform: uppercase; }

:-moz-placeholder {
  text-transform: uppercase; }

::-moz-placeholder {
  text-transform: uppercase; }

:-ms-input-placeholder {
  text-transform: uppercase; }

/* Purchase Steps */
ol.purchase-steps li.purchase-step {
  width: 25%;
  float: left;
  text-align: center;
  border-right: 1px solid #e5e5e5; }
  ol.purchase-steps li.purchase-step:last-child {
    border-right: none; }
  ol.purchase-steps li.purchase-step.completed {
    opacity: 0.55;
    border-right: 1px solid rgba(0, 0, 0, 0.15); }
  ol.purchase-steps li.purchase-step.next {
    opacity: 0.1;
    border-right: 1px solid #99999c; }
ol.purchase-steps span.stepnum {
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background: black;
  color: white;
  text-shadow: 0 0 1px rbga(255, 255, 255, 0.1);
  font-size: 0.75em;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block; }
ol.purchase-steps span.stepname {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 0 1px rbga(0, 0, 0, 0.1);
  letter-spacing: 0.1em;
  font-size: 0.825em;
  line-height: 2em; }

aside.billinginfo, aside.shippinginfo, aside.confirmationinfo, aside.coupon, aside.summary-final {
  width: 45%;
  padding: 0.75em 0 0 0;
  float: left; }
  aside.billinginfo input, aside.shippinginfo input, aside.confirmationinfo input, aside.coupon input, aside.summary-final input {
    padding: 1.25em 1em;
    margin: 0 0 1em !important; }
  aside.billinginfo select.one, aside.shippinginfo select.one, aside.confirmationinfo select.one, aside.coupon select.one, aside.summary-final select.one {
    margin: 0 3% 1em 0; }
  aside.billinginfo select.exp, aside.shippinginfo select.exp, aside.confirmationinfo select.exp, aside.coupon select.exp, aside.summary-final select.exp {
    width: 48%;
    display: inline-block; }
  aside.billinginfo input.discountcode, aside.shippinginfo input.discountcode, aside.confirmationinfo input.discountcode, aside.coupon input.discountcode, aside.summary-final input.discountcode {
    margin: 1em 0; }

aside.login p, aside.guest p, aside.billinginfo p, aside.shippinginfo p, aside.confirmationinfo p, aside.coupon p, aside.summary-final p {
  font-size: 0.75em;
  margin: 0 0 0.5em;
  color: #acadb0;
  text-transform: uppercase; }

div.select-shipping {
  margin: 1.5em 0 0; }

/* Order Summary */
div.order-summary h3 {
  margin: 0.25em 0 1em;
  color: #acadb0;
  border-bottom: 1px solid #e5e5e5; }
div.order-summary li.cart-total {
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0 0 0.5em 0; }
div.order-summary p {
  text-transform: uppercase;
  font-size: 0.75em; }
div.order-summary span.total-name {
  float: left;
  margin: 0 0 0 90px;
  font-size: 0.875rem;
  vertical-align: baseline; }
div.order-summary span.total-num {
  color: black;
  float: right;
  font-size: 1rem;
  vertical-align: baseline; }
div.order-summary p.purchase-total {
  margin: 0 0 0.75em; }
div.order-summary p.final-total {
  border-top: 1px solid #e5e5e5;
  padding: 0.75em 0 0;
  margin: 1em 0 0; }
div.order-summary p.final-total span.total-num {
  font-weight: 700; }
div.order-summary li.cart-product {
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5em 1em;
  margin: 0 0 0.5em 0; }
div.order-summary figure.cart-product-img {
  width: 65px;
  height: 65px;
  float: left; }
div.order-summary p.cart-product-detail {
  float: left;
  line-height: 1.5em;
  margin: 0.75rem 0 0 1.5rem; }
div.order-summary span.name {
  font-weight: 700;
  font-size: 0.875rem;
  display: block;
  color: black; }
div.order-summary span.quantity {
  margin: 0 0.5rem 0 0;
  text-transform: none; }
div.order-summary p.price {
  font-size: 1rem;
  float: right;
  text-align: right; }

/* Closed div.order-summary */
aside.summary-final {
  padding: 0 !important; }

aside.billinginfo, aside.shippinginfo, aside.confirmationinfo {
  margin: 0 10% 0 0; }

p.secure-transactions {
  margin: 1em 0 0 !important; }

aside.order-completed {
  width: 100%;
  background: white;
  border: 1px solid #e5e5e5;
  padding: 6em 15% 7em;
  margin: 3em auto 2em; }
  aside.order-completed h2.productordered {
    border-bottom: 1px solid black;
    padding: 1em 0 0.75em; }
  aside.order-completed span.ordernumber {
    font-weight: 600;
    color: #99999c; }
  aside.order-completed p.success {
    margin: 3em 0 0 0; }
  aside.order-completed a.account {
    margin: 2rem 0;
    padding: 1.5em; }

div.cart-half {
  width: 48%;
  float: left; }
  div.cart-half.half-first {
    margin: 0 4% 0 0; }

div.success-page {
  margin: 0; }
  div.success-page p.thankyou {
    margin: 0 0 2.5em; }
  div.success-page h3 {
    margin: 0 0 2em; }

section.cart-disp-empty {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: absolute;
  top: 100px;
  color: white;
  z-index: 5; }
  section.cart-disp-empty article {
    padding: 8em 3em;
    position: relative;
    text-align: center; }
  section.cart-disp-empty h1 {
    font-weight: 300;
    letter-spacing: 0.2em; }
  section.cart-disp-empty p {
    margin: 0.5em 0 0 0; }
  section.cart-disp-empty a {
    color: #6e7174; }
    section.cart-disp-empty a:hover {
      color: white; }

section.cart-disp-full {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: absolute;
  top: 100px;
  color: white;
  z-index: 5; }
  section.cart-disp-full article {
    padding: 3em 3em 4em;
    position: relative; }
    section.cart-disp-full article * {
      box-sizing: content-box; }

div.cart-contain {
  width: 40em;
  float: left; }

table.shopcart {
  border-collapse: collapse;
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 1em 0; }
  table.shopcart tr {
    border-bottom: 1px solid white; }
  table.shopcart thead {
    font-size: 75%;
    font-weight: 600;
    letter-spacing: 0.1em; }
  table.shopcart .td-name {
    text-align: left;
    padding: 20px 0;
    font-weight: 500;
    letter-spacing: 0.1em; }
  table.shopcart .td-quantity, table.shopcart .td-price, table.shopcart .td-remove {
    text-align: center;
    padding: 20px 0; }
    table.shopcart .td-quantity.sm, table.shopcart .td-price.sm, table.shopcart .td-remove.sm {
      padding: 10px 0; }
  table.shopcart .td-remove a {
    display: block;
    text-indent: -9999px;
    width: 1.1em;
    border-radius: 1em;
    height: 1.1em;
    margin: 0 auto;
    background: url(../img/closebtn_w.svg) center center no-repeat; }
    table.shopcart .td-remove a:hover {
      background-color: #4b4b4b; }
  table.shopcart .td-quantity {
    width: 80px; }
  table.shopcart .td-price {
    width: 150px; }
  table.shopcart .td-remove {
    width: 90px; }

/* Closed Shop Cart */
div.cart-actions {
  width: 20em;
  float: left;
  box-sizing: border-box !important;
  padding: 0.625em 0 0 3em;
  text-align: center; }
  div.cart-actions * {
    box-sizing: border-box; }
  div.cart-actions h3 {
    color: #99999c; }
  div.cart-actions h2 {
    margin: 0.25em auto 0.75em;
    font-size: 2.25em;
    padding: 0 0 0.15em;
    display: table;
    border-bottom: 2px solid white;
    font-weight: 300; }
  div.cart-actions a.checkout {
    display: table;
    margin: 0 auto;
    color: white;
    background: #6e7174;
    padding: 1em 3em 1.15em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: 0.813em; }
    div.cart-actions a.checkout:hover {
      background-color: #784485; }

/* Confirmation */
div.conf-contain {
  float: left; }

div.conf-contain:first-child {
  margin: 0 3em 0 0;
  padding: 0 3em 0 0;
  border-right: 1px solid #e5e5e5; }

aside.confirmationinfo span {
  display: block;
  font-size: 0.875em;
  line-height: 1.5em; }

figure.cc-icon {
  width: 3em;
  height: 2em;
  display: inline-block;
  margin: 0 0.25em 0 0; }

aside.confirmationinfo a {
  display: block;
  color: #99999c;
  margin: 1.5em 0 0 0;
  font-size: 0.75em;
  text-transform: uppercase; }
  aside.confirmationinfo a:hover {
    color: black; }

section.mission {
  height: 30em;
  background-size: cover;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }
  section.mission article {
    display: table;
    width: 100%;
    height: 100%; }

.mission-one {
  background: url(../img/bridge4.jpg) no-repeat center 30%;
  padding: 65px 0 0 0;
  height: 40em !important; }

.mission-two {
  background: url(../img/bridge6.jpg) no-repeat center 85%; }

.mission-three {
  background: url(../img/bridge7.jpg) no-repeat center 30%; }

.mission-hero {
  font-size: 400%;
  line-height: 1.125em;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

section.copy {
  background: white; }
  section.copy p {
    font-family: "ff-meta-serif-web-pro";
    font-size: 1.05em;
    text-align: left;
    line-height: 1.625em; }

.mission-points {
  margin: 4em 0; }

section.copy aside.third {
  padding: 2em 3em;
  border-right: 1px solid #e5e5e5; }
  section.copy aside.third:nth-child(3) {
    border-right: none; }
  section.copy aside.third h2 {
    text-align: center;
    margin: 0 0 1em 0; }
  section.copy aside.third h3 {
    text-align: center;
    margin: 0 0 2.25em 0; }
  section.copy aside.third p {
    margin: 2em 0 0.5em 0; }

.p-single-col {
  width: 55%;
  margin: 0 auto 1em; }

.mission-highlight-img, .mission-highlight-img-2, .mission-highlight-copy {
  width: 50%;
  float: left;
  min-height: 20em; }

.mission-highlight {
  margin: 5em 0; }

.mission-highlight-img {
  background: url(../img/bridge4.jpg) no-repeat center center;
  background-size: cover; }

.mission-highlight-img-2 {
  background: url(../img/bridge6.jpg) no-repeat center center;
  background-size: cover; }

.mission-highlight-copy {
  padding: 3em; }
  .mission-highlight-copy h1 {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.05em;
    font-weight: 500;
    margin: 0 0 0.5em; }

section.static-copy {
  border-top: 1px solid #e5e5e5;
  background: white; }
  section.static-copy h1 {
    text-align: center;
    margin: 0 auto 2em; }
  section.static-copy h4 {
    font-weight: 600;
    position: relative;
    margin: 4em 0 -1.35em 0;
    color: #6e7174;
    width: 20%;
    line-height: 1.25em; }
    section.static-copy h4.sub {
      width: 55%;
      margin: 1em auto 0.25em; }
  section.static-copy p {
    width: 55%;
    margin: 0 auto 2em;
    color: #6e7174; }
    section.static-copy p.secondary {
      font-size: 0.813em;
      margin: 0 auto 1em; }
  section.static-copy figure {
    margin: 3em auto;
    width: 2em;
    height: 2em; }
  section.static-copy ul {
    list-style-type: disc;
    width: 55%;
    margin: 0 auto 1em; }
    section.static-copy ul li {
      font-size: 0.813em;
      margin: 0 0 0 2em;
      color: #6e7174;
      line-height: 1.25em; }

section.journal {
  border-top: 1px solid #e5e5e5; }

a.entry {
  display: block;
  max-width: 18em;
  height: auto;
  margin: 0 0 36px 0;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }

div.gutter-sizer {
  width: 36px;
  margin: 0 !important; }
