/* Ten Thousand */

@import "reset.css";

/* Variables */

$white: white;
$darkertype: rgba(110,113,116,1);
$black: black;

$sans: "ars-maquette-web", "Helvetica Neue", Arial, Helvetica, sans-serif;
$serif: "ff-meta-serif-web-pro", "Times New Roman", Times, serif;

/* Animations */

@mixin reveal-before {
  -webkit-transform: translate3d(0, 0, 1em);
  -moz-transform: translate3d(-20px, 0, 1em);
  -o-transform: translate3d(-20px, 0, 1em);
  transform: translate3d(-20px, 0, 1em);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
  -moz-transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
  -o-transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
  transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
}

@mixin reveal-after {
   -webkit-transform: translate3d(0, 0, 1em);
  -moz-transform: translate3d(0, 0, 1em);
  -o-transform: translate3d(0, 0, 1em);
  transform: translate3d(0, 0, 1em);
  opacity: 1;
}

@mixin fadein-before {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

@mixin fadein-after {
  opacity: 1 !important;
}


/* Base Styles */

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  font-family: $sans;
  -webkit-tap-highlight-color: $black;
  color: $black;
  display: table;
  -webkit-transition: top 0.5s ease-in-out 1s, height 0.5s ease-in-out 1s;
  -moz-transition: top 0.5s ease-in-out 1s, height 0.5s ease-in-out 1s;
  -o-transition: top 0.5s ease-in-out 1s, height 0.5s ease-in-out 1s;
  transition: top 0.5s ease-in-out 1s, height 0.5s ease-in-out 1s;
}

.bg {
  background: url(../img/hero_new_4.jpg) no-repeat white center top;
  width: 100%;
  height: 100%;
  background-size: 2560px 1920px;
  position: fixed;
  z-index: 0;
  @include fadein-before;
}

.loaded {
  @include fadein-after;
}

::selection {
  background: $black;
  color: white;
}

::-moz-selection {
  background: $black;
  color: white;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}



a.current {
  color: $black;
}

div.flash {
  width: 100%;
  position: absolute;
  padding: 2em 1em;
  background: $black;
  color: white;
  text-align: center;
  font-size: 0.875em;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  top: -70px;
  opacity: 0;
  -webkit-transition: top 0.5s ease-in-out 1s, opacity 0s linear 1.05s;
  -moz-transition: top 0.5s ease-in-out 1s, opacity 0s linear 1.05s;
  -o-transition: top 0.5s ease-in-out 1s, opacity 0s linear 1.05s;
  transition: top 0.5s ease-in-out 1s, opacity 0s linear 1.05s;
  z-index: 20;
}

header {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 8%;
  z-index: 2;
}

.logo {
  width: 375px;
  height: 39px;
  display: inline-block;
  background: url(../img/logo_b.png) no-repeat center center;
  background-size: 375px 39px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
}

h2 {
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.35em;
}

h3 {
  font-weight: 500;
  font-size: 100%;
}

.hero {
  display: table-cell;
  vertical-align: middle;
  padding: 3em 0 0 0;
  position: relative;
  z-index: 2;
}

.hero-text {
   @include fadein-before;
}

.hero-reveal {
  @include fadein-after;
}

.submitform {
  display: table;
  margin: 3.5em auto 0;
  @include fadein-before;
}



input {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  font-family: $sans !important;
  font-size: 0.875em;
  text-align: center;
  padding: 1.25em 1em;
  margin: 0.5em 0 0 0;
}

::-webkit-input-placeholder {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

input:first-child {
  margin: 1em 0 0 0;
}

.email-input {
  background: rgba(240,240,242,1);
  &:focus {
    background: rgba(240,240,242,1);
    outline: none;
    box-shadow: inset 0px 0px 0px 2px rgba(210,210,212,1)
  }
}

.form-submitted {
  position: relative;
  top: 70px;
  .email-input {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 225, 0, 0.5);
    background-size: 20px 20px;
  }
  .flash {
    opacity: 1;
  }
  .submitform {
    opacity: 0 !important;
    -webkit-transition: opacity 0.5s ease-in 0.5s, height 0s linear 0.55s;
    -moz-transition: opacity 0.5s ease-in 0.5s, height 0s linear 0.55s;
    -o-transition: opacity 0.5s ease-in 0.5s, height 0s linear 0.55s;
    transition: opacity 0.5s ease-in 0.5s, height 0s linear 0.55s;
  }
}

.input-error {
  .email-input {
    box-shadow: inset 0px 0px 0px 2px rgba(225, 0, 0, 0.5);
    background-size: 20px 20px !important;
  }
}

.submit {
  background: $black;
  color: $white;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  padding: 1.5em 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.submit:hover {
    background: rgba(60,60,62,1);
    -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.submit:focus {
  outline: none;
}

@media screen and (max-width: 1600px) {
  .bg {
    background-size: 1920px 1440px;
  }
}

@media screen and (max-width: 1280px) {
  .bg {
    background-size: cover;
    background-position: right top;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 2em 0 0 0;
  }
  
  .hero-text {
    font-size: 90%;
  }
}

@media screen and (max-width: 882px) {
  .hero {
    padding: 0;
  }
  
  .bg {
    background-position: right top;
  }
  
  .hero-text {
    font-size: 75%;
  }
  
  input {
    padding: 1em 0.75em;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  header {
    top: 1.75em;
  }
  
  .logo {
    width: 270px;
    height: 28px;
    background-size: 270px 28px;
  }
  
  .hero {
    padding: 4em 1em 0;
  }
  
  .hero-text {
    font-size: 100%;  
  }

  .flash h4 {
    font-size: 80%;
    line-height: 1.6em;
  }
    
  h1 {
    font-size:210%;
    line-height: 1.1em;
    letter-spacing: 2px;
  }
  
  h2 {
    font-size: 65%;
    margin: 1em 0 0 0;
  }
  
  .submitform {
    margin: 4.5em auto 0;
    font-size: 75%;
  }
  
  h3 {
    text-shadow: 1px 1px 1px white;
  }
  
  input {
    padding: 1.25em 1em;
    margin: 0.75em 0 0 0;
  }
  
  input:first-child {
    margin: 1.5em 0 0 0;
  }

  .flash {
    top: -90px !important;
    line-height: 1.4em;
  }

  .form-submitted {
    position: relative;
    top: 90px;
    .email-input {
      background-size: 20px 20px;
    }
    .flash {
    }
  }

}

@media screen and (min-width: 480px) and (max-width:568px) and (orientation: landscape) {

  body {
    display: block;
  }

  header {
    position: relative;
    width: 100%;
  }

  .hero {
    display: block;
    padding: 2.5em 1em 1.5em 1em !important;
  }

  .form-submitted {
  position: relative;
  top: 110px;
  .email-input {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 225, 0, 0.5);
    background-size: 20px 20px;
  }
  .flash {
    top: 0;
  }
  .submitform {
    opacity: 0 !important;
  }
}

}
