/* Ten Thousand */

@import "reset.css";

/* Variables */

$white: white;
$purple: rgba(120,68,133,1);
$black: black;

$sans: "ars-maquette-web", "Helvetica Neue", Arial, Helvetica, sans-serif;
$serif: "ff-meta-serif-web-pro", "Times New Roman", Times, serif;

/* Animations */

@mixin reveal-before {
  -webkit-transform: translate3d(0, 0, 1em);
  -moz-transform: translate3d(-20px, 0, 1em);
  -o-transform: translate3d(-20px, 0, 1em);
  transform: translate3d(-20px, 0, 1em);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
  -moz-transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
  -o-transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
  transition: -webkit-transform 0.7s ease, opacity 0.9s ease-in, -webkit-filter 0.8s ease-in;
}

@mixin reveal-after {
   -webkit-transform: translate3d(0, 0, 1em);
  -moz-transform: translate3d(0, 0, 1em);
  -o-transform: translate3d(0, 0, 1em);
  transform: translate3d(0, 0, 1em);
  opacity: 1;
}

@mixin fadein-before {
  opacity: 0;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

@mixin fadein-after {
  opacity: 1 !important;
}


/* Base Styles */

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
}

body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	font-family: $sans;
	-webkit-tap-highlight-color: $black;
	color: $black;
	display: table;
}

.bg {
  background: url(../img/hero_new_4.jpg) no-repeat white center top;
  width: 100%;
  height: 100%;
	background-size: 2560px 1920px;
	position: fixed;
	z-index: 0;
	@include fadein-before;
}

.loaded {
  @include fadein-after;
}

::selection {
	background: $black;
	color: white;
}

::-moz-selection {
	background: $black;
	color: white;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}



a.current {
	color: $black;
}

header {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 8%;
  z-index: 2;
}

.logo {
  width: 375px;
  height: 76px;
  display: inline-block;
  background: url(../img/logo_dropshadow.png) no-repeat center center;
  background-size: 375px 76px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
}

h2 {
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.35em;
}

h3 {
  font-weight: 500;
  font-size: 100%;
}

.hero {
  display: table-cell;
  vertical-align: middle;
  padding: 3em 0 0 0;
  position: relative;
  z-index: 2;
}

.hero-text {
   @include fadein-before;
}

.hero-reveal {
  @include fadein-after;
}

.submitform {
  display: table;
  margin: 3.5em auto 0;
  @include fadein-before;
}



input {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  font-family: $sans !important;
  font-size: 0.875em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 1.25em 1em;
  margin: 0.5em 0 0 0;
}

input:first-child {
  margin: 1em 0 0 0;
  background: rgba(255,255,255,0.85);
}

input[type="email"] {
  border: 2px solid rgba(0,0,0,0.1);
  &:focus {
    background: rgba(255,255,255,1);
  }
}

.form-submitted {
  .email-input {
    background: rgba(255, 255, 255, 0.85) url(../img/success.svg) 95% center no-repeat;
    background-size: 20px 20px;
  }
}

.input-error {
  .email-input {
    background: rgba(255, 255, 255, 0.85) url(../img/fail.svg) 95% center no-repeat !important;
    background-size: 20px 20px !important;
  }
}

input[type="submit"]{
  background: $black;
  color: $white;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  padding: 1.5em 1em;
}

input[type="submit"]:hover {
    background: $purple;
    -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

@media screen and (max-width: 1600px) {
  .bg {
    background-size: 1920px 1440px;
  }
}

@media screen and (max-width: 1280px) {
  .bg {
    background-size: cover;
    background-position: right top;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 2em 0 0 0;
  }
  
  .hero-text {
    font-size: 90%;
  }
}

@media screen and (max-width: 882px) {
  .hero {
    padding: 0;
  }
  
  .bg {
    background-position: right top;
  }
  
  .hero-text {
    font-size: 75%;
  }
  
  input {
    padding: 1em 0.75em;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  header {
    top: 1em;
  }
  
  .logo {
    width: 270px;
    height: 55px;
    background-size: 270px 55px;
  }
  
  .hero {
    padding: 2.5em 1em 0;
  }
  
  .hero-text {
    font-size: 100%;  
  }
    
  h1 {
    font-size:225%;
    line-height: 1.1em;
  }
  
  h2 {
    font-size: 95%;
    margin: 0.5em 0 0 0;
  }
  
  .submitform {
    margin: 2em auto 0;
    font-size: 75%;
  }
  
  h3 {
    text-shadow: 1px 1px 1px white;
  }
  
  input {
    padding: 1.25em 1em;
    margin: 0.75em 0 0 0;
  }
  
  input:first-child {
    margin: 1.5em 0 0 0;
  }
}

@media screen and (min-width: 480px) and (max-width:568px) and (orientation: landscape) {

  body {
    display: block;
  }

  header {
    position: relative;
    width: 100%;
  }
  
  .hero {
    display: block;
    padding: 2.5em 1em 1.5em 1em !important;
  }

}
